{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<!-- [ Main Content ] start -->
<section class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Form Elements</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">Form Components</a></li>
                            <li class="breadcrumb-item"><a href="#!">Form Elements</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>บันทึกผลงานตามตัวชี้วัด</h5>
                    </div>
                    <div class="card-body">
                        <form method="POST" class="KeyInput">
                            <!-- Poc insert -->
                            {% csrf_token %}
                            <fieldset class="form-group">
                                <legend class="border-bottom mb-4">บันทึกผลงานตามตัวชี้วัด</legend>
                                {{ form|crispy }}
                            </fieldset>
                            <div class="form-group">
                                <button class="btn btn-info" type="submit">Save</button>
                            </div>
                            <!-- Poc insert -->

                        </form>
                    </div>
                </div>
            </div>
         </div>
        <!-- [ Main Content ] end -->
{% endblock content %}